<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="display-6 text-left mt-5">Error</h1>
                    <hr class="border w-100 border-dark">
                    <div class="wrapper fadeInDown">
                        <div class="im-sheep">
                            <div class="top">
                                <div class="body"></div>
                                <div class="head">
                                    <div class="im-eye one"></div>
                                    <div class="im-eye two"></div>
                                    <div class="im-ear one"></div>
                                    <div class="im-ear two"></div>
                                </div>
                            </div>
                            <div class="im-legs">
                                <div class="im-leg"></div>
                                <div class="im-leg"></div>
                                <div class="im-leg"></div>
                                <div class="im-leg"></div>
                            </div>
                        </div>
                        <h4>Oops! La página no se encuentra!</h4>
                        <br>
                        <a href="/" class="btn btn-primary">Ir al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>