.navbar-nav{
    margin-left: 5px
}

.active a{
    font-weight: bolder;
    color: #fff;
}

.btn-logout {
    width: 100%;
    padding: 3px 20px;
    text-align: left;
  }

  .dropdown-menu{
      width: 100%
  }

  .pointer{
      cursor: pointer;
  }